<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="component-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content (click)="flipMe()">
              <ion-text color="secondary" *ngIf="!isFlip" >
                <h1>Word</h1>
              </ion-text>
              <ion-text color="secondary" *ngIf="isFlip" >
                <h1>Answer</h1>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button size="small" color="secondary" (click)="goPrev()">Previous</ion-button>
          <ion-button size="small" (click)="goNext()">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>


  <!--  </ion-card>-->


</ion-content>
